.productos {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.productos__title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}


.productos__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  justify-items: center; /* centra cada tarjeta */
}
.card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* MENSAJE DE NO RESULTADOS */
.productos__grid p {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.7;
}

.productos__filtros {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.filtro__btn {
  padding: 8px 18px;
  border: 1px solid #111;
  background: #fff;
  cursor: pointer;
  border-radius: 10px;
  transition: .3s;
  font-size: 15px;
}

.filtro__btn:hover {
  background: #111;
  color: #fff;
}

.filtro__btn.active {
  background: #111;
  color: white;
}

/* BUSCADOR */
.productos__buscador-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.productos__buscador-wrapper input {
  width: 50%;
  padding: 10px;
  border: 2px solid #bbb;
  border-radius: 8px;
  font-size: 16px;
}
