.banner {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  margin: 2rem auto;
}

.banner__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  animation: fade 1s ease-in-out;
  border-radius: 15px;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}
