.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 12px;
  width: 230px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card__img {
  width: 100%;
  border-radius: 12px;
}

.card__title {
  font-size: 1.2rem;
  margin: 10px 0 5px;
}

.card__brand {
  color: #777;
  margin-bottom: 5px;
}

.card__price {
  font-weight: bold;
  margin-bottom: 10px;
}

.card__btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 75px;
  background-color: black;
  color: white;
  border-radius: 8px;
}

.starRating__star {
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.25s ease, transform 0.2s ease;
}

.starRating__star:hover {
  transform: scale(1.15);
}

